{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1>Car</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Car name</th>
                <td>{{ car.name }}</td>
            </tr>
            <tr>
                <th>Number of Seats</th>
                <td>{{ car.nbSeats }}</td>
            </tr>
            <tr>
                <th>Number of Doors</th>
                <td>{{ car.nbDoors }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ car.category.name }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ car.cost }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-2">
        <a class="btn btn-primary" href="{{ path('app_admin_car_index') }}"> << Back to list</a>
        <a class="btn btn-warning" href="{{ path('app_admin_car_edit', {'id': car.id}) }}">edit</a>
    </div>
    {{ include('admin/car/_delete_form.html.twig') }}
{% endblock %}
